body{
    background-image: 
    linear-gradient(to right, rgba(72, 202, 228, 0.3), rgba(72, 202, 228, 0.1), rgba(72, 202, 228, 0.0), rgba(72, 202, 228, 0.1), rgba(72, 202, 228, 0.3)),
    url('../Pictures/u.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.navbar{
    background-image: 
    linear-gradient(to left, rgba(0, 180, 216, 0.0), rgba(0, 180, 216, 0.1), rgba(0, 180, 216, 0.5)),
    url('../Pictures/brunsli.jpg');
    background-size: 100%;
    background-position-y: bottom;
    border-bottom: black solid 1px;
}

.text-nav{
    color: black;
}

/* div{
    border: red solid 1px;
} */

.list{
    margin-bottom: 0;
}

.welcome-text{
    margin-top: 30px;
    background-color: #efefef;
    box-shadow: 5px 10px #0077B6;
}


/* ingredients */
.image-ingredients{
    width: 100%;
}

/* butter */
.butter{
    content: url('../Pictures/butter.jpg');
    cursor: pointer;
    appearance: none;
    display: block;
    width: 100%;
}

.butter:checked{
    content: url('../Pictures/butter2.jpg');
}

/* egg */
.egg{
    content: url('../Pictures/sugaregg.jpg');
    cursor: pointer;
    appearance: none;
    display: block;
    width: 100%;
}

.egg:checked{
    content: url('../Pictures/mixedegg.jpg');
}

/* vanilla sugar */
.image-vanilla{
    width: 100%;
}

/* chocolate */
.chocolate{
    content: url('../Pictures/chocolate.jpg');
    cursor: pointer;
    appearance: none;
    display: block;
    width: 100%;
}

.chocolate:checked{
    content: url('../Pictures/moltenchocolate.jpg');
}

/* flour */
.image-flour{
    width: 100%;
}

/* walnuts */
.walnuts{
    content: url('../Pictures/walnuts.jpg');
    cursor: pointer;
    appearance: none;
    display: block;
    width: 100%;
}

.walnuts:checked{
    content: url('../Pictures/crushedwalnuts.jpg');
}

/* chocolate dough */
.chocolatem{
    content: url('../Pictures/chocolatedough.jpg');
    cursor: pointer;
    appearance: none;
    display: block;
    width: 100%;
}

.chocolatem:checked{
    content: url('../Pictures/mixedchocolatedough.jpg');
}

/* walnut dough */
.walnutm{
    content: url('../Pictures/walnutdough.jpg');
    cursor: pointer;
    appearance: none;
    display: block;
    width: 100%;
}

.walnutm:checked{
    content: url('../Pictures/mixedwalnutdough.jpg');
}

/* dough */
.dough{
    content: url('../Pictures/putdough.jpg');
    cursor: pointer;
    appearance: none;
    display: block;
    width: 100%;
}

.dough:checked{
    content: url('../Pictures/formdough.jpg');
}

/* oven */
.oven{
    content: url('../Pictures/Oven.jpg');
    cursor: pointer;
    appearance: none;
    display: block;
    width: 100%;
}

.oven:checked{
    content: url('../Pictures/Dishes.jpg');
}

/* baking */
.bake{
    content: url('../Pictures/Baking.jpg');
    cursor: pointer;
    appearance: none;
    display: block;
    width: 100%;
}

.bake:checked{
    content: url('../Pictures/Baking-timer.jpg');
}

/* baking */
.baked{
    content: url('../Pictures/baked.jpg');
    cursor: pointer;
    appearance: none;
    display: block;
    width: 100%;
}

.baked:checked{
    content: url('../Pictures/cut.jpg');
}

/* finished */
.image-finished{
    width: 100%;
}
